apiVersion: v1
kind: Namespace
metadata:
  name: kwatch
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kwatch
  namespace: kwatch
data:
  config.yaml: |
    maxRecentLogLines: <optional_number_of_lines>
    ignoreFailedGracefulShutdown: <optional_boolean>
    alert:
      slack:
        webhook: <webhook_url>
      pagerduty:
        integrationKey: <integration_key>
      discord:
        webhook: <webhook_url>
      telegram:
          token: <token_key>
          chatId: <chat_id>
      email:
        form: <from_mail>
        to: <to_mail>
        password: <password>
        host: <host>
        port: <port_number>
      teams:
          webhook: <webhook_url>
      rocketchat:
          webhook: <webhook_url>
      mattermost:
          webhook: <webhook_url>
      opsgenie:
        apiKey: <api_key>
    namespaces:
      - <optional_namespace>
    reasons:
      - <optional_reason>
    ignoreContainerNames:
      - <optional_container_name>

